body {
    overflow: hidden;
}

.slide {
    width: 100%;
	height: 100vh;
    background-image: url(../../static/bg2.webp);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: auto;
    padding: 0 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 60px;
    text-shadow: 1px 2px 5px #000;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 0;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
}

.info {
    text-align: center;
    font-size: 25px;
    line-height: 1.25;
    font-family: 'Apple Melon', Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.info span {
    font-size: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .menu-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid #9c9c9c;
    background: transparent;
    margin: 10px;
    backdrop-filter: blur(5px);
    transition: border-color .2s;
    font-family: Arial, Helvetica, sans-serif;
}

.menu .menu-link.filled {
    background: tomato;
    border: none;
    transition: all .2s;
}

.menu .menu-link:hover {
    border-color: #fff;
}

.menu .menu-link.filled:hover {
    border: none;
    background: #fff;
    color: #000;
}

.go {
    cursor: pointer;
    opacity: .1;
}